{% extends 'base.html.twig' %}

{% block title %} Ma commande -Boutiquenaglaa{% endblock %}

{% block content %}
<h1>Ma commande {{ order.reference }}</h1>
<a href="{{ path('account_order') }}"/>Retour</a>
<hr>
<strong>Commande passe le : </strong>{{ order.createdAt|date('d/m/Y') }}<br>
<strong>Reference de ma commande :</strong> <small>{{ order.reference }}</small><br>
<strong>Transporteur choisi : </strong> {{ order.carrierName }}
<hr>
<strong>Details:</strong>
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Produit</th>
      <th scope="col">Quantity</th>
      <th scope="col">Prix unitaire</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
{% for product in order.orderDetails %}
     <tr>
      <td>{{ product.product }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ (product.price / 100) | number_format(2,',','.') }}</td>
      <td>{{ (product.total / 100) | number_format(2,',','.') }}</td>
    </tr>
{% endfor %}
   
  </tbody>
</table>
<div class="text-right">
    <strong>Sous-total : </strong>{{ (order.getTotal / 100) | number_format(2,',','.') }}<br>
    <strong>Livrasion :</strong> {{ (order.carrierPrice ) | number_format(2,',','.') }}<br>
    <strong>Total : </strong>{{ ((order.carrierPrice + (order.getTotal / 100) )) |number_format(2,',','.')}} Є

</div>

{% endblock %}
